h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  display: inline;
}

h4 { 
  display: inline;
  top: 20px;
  bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

.app-root {
  height: 1000px;
  width: 500px;
  padding: 50px 50px;
  background-color: rgb(50, 194, 194);
}

.main-view {
  width: 320px;
}

.avatar-main-view { 
  height: 40px;
  width: 40px;
  float: right;
  background-color: white;
  border: 2px #369 solid;
  border-radius: 50%;
  box-shadow: 0px 2px #888888;
  display: inline;
  content:url(https://vignette.wikia.nocookie.net/spongebob/images/2/20/Patrick_925.gif/revision/latest?cb=20150411183115);
}

.add-button {
  height: 20px;
  width: 20px;
  outline: none;
  display: inline;
  float: right;
  padding: 0px;
  font-size: 33px;
  text-align: center;
  line-height: 22px;
  vertical-align: middle;
  border: solid 2px #369;
  color: #369;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 1px #888888;
}
