<div class="main-view" *ngIf="(!showMenuView && !showCategoriesView)">
  <div class="header">
    <button class="menu-left-button" (click)="toggleCategoriesView()">
      <img src="https://cdn0.iconfinder.com/data/icons/very-basic-android-l-lollipop-icon-pack/24/menu-128.png" />
    </button>
    <h1>{{selectedCategory || 'Hyper Todo'}}</h1>
    <button class="menu-right-button" (click)="toggleMenuView()">
      <img src="https://cdn1.iconfinder.com/data/icons/material-core/20/settings-128.png" />
    </button>
  </div>
  <br/>
  <button class="toggle-view-button" (click)="toggleActiveView()">
    <img *ngIf="(showActive)" src="https://cdn0.iconfinder.com/data/icons/arrows-android-l-lollipop-icon-pack/24/expand2-128.png"
    />
    <img *ngIf="(!showActive)" src="https://cdn0.iconfinder.com/data/icons/arrows-android-l-lollipop-icon-pack/24/next-128.png"
    />
  </button>
  <h4>Active</h4>
  <div *ngIf="(showActive)">
    <app-todo
      *ngIf="(!todos[0].finished && (todos[0].category === selectedCategory || !selectedCategory))"
      [todo]="todos[0]"
      (toggleTodoFinished)=toggleTodoFinished($event)
      (deleteTodo)=deleteTodo($event)
      (updateTodo)=updateTodo($event)>
    </app-todo>
</div>
  <br/>
  <br/>
  <button class="toggle-view-button" (click)="toggleCompleteView()">
    <img *ngIf="(showComplete)" src="https://cdn0.iconfinder.com/data/icons/arrows-android-l-lollipop-icon-pack/24/expand2-128.png"
    />
    <img *ngIf="(!showComplete)" src="https://cdn0.iconfinder.com/data/icons/arrows-android-l-lollipop-icon-pack/24/next-128.png"
    />
  </button>
  <h4>Complete</h4>
  <div *ngIf="(showComplete)">
    <app-todo
    *ngIf="(todos[0].finished && (todos[0].category === selectedCategory || !selectedCategory))"
    [todo]="todos[0]"
    (toggleTodoFinished)=toggleTodoFinished($event)
    (deleteTodo)=deleteTodo($event)
    (updateTodo)=updateTodo($event)>
  </app-todo>
  </div>
  <br/>
  <button class="add-button" (click)="addTodo()">
    <img src="https://image.flaticon.com/icons/png/128/54/54443.png" />
  </button>
</div>
<app-menu 
  *ngIf="(showMenuView)" 
  [user]=user 
  (toggleMenuView)=toggleMenuView($event)>
</app-menu>
<app-categories 
  *ngIf="(showCategoriesView)" 
  [categories]=categories 
  [selectedCategory]=selectedCategory
  (toggleCategoriesView)=toggleCategoriesView($event)
  (createNewCategory)=createNewCategory($event)
  (selectCategory)=selectCategory($event)>
</app-categories>