<div class="main-view" *ngIf="(!showMenuView)">
  <div class="header">
    <button class="menu-left-button">
      <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/61778-200.png" />
    </button>
    <h1>Hyper Todo</h1>
    <button class="menu-right-button" (click)="toggleMenuView()">
      <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/1241-200.png" />
    </button>
  </div>
  <br/>
  <button class="toggle-view-button" (click)="toggleActiveView()">
    <img *ngIf="(showActive)" src="https://cdn0.iconfinder.com/data/icons/arrows-android-l-lollipop-icon-pack/24/expand2-128.png"
    />
    <img *ngIf="(!showActive)" src="https://cdn0.iconfinder.com/data/icons/arrows-android-l-lollipop-icon-pack/24/next-128.png"
    />
  </button>
  <h4>Active</h4>
  <ul *ngIf="(showActive)">
    <li *ngFor="let todo of todos">
      <app-todo [todo]=todo *ngIf="(!todo.finished)"></app-todo>
    </li>
  </ul>
  <br/>
  <br/>
  <button class="toggle-view-button" (click)="toggleCompleteView()">
    <img *ngIf="(showComplete)" src="https://cdn0.iconfinder.com/data/icons/arrows-android-l-lollipop-icon-pack/24/expand2-128.png"
    />
    <img *ngIf="(!showComplete)" src="https://cdn0.iconfinder.com/data/icons/arrows-android-l-lollipop-icon-pack/24/next-128.png"
    />
  </button>
  <h4>Complete</h4>
  <ul *ngIf="(showComplete)">
    <li *ngFor="let todo of todos">
      <app-todo [todo]=todo *ngIf="(todo.finished)"></app-todo>
    </li>
  </ul>
  <br/>
  <button class="add-button" (click)="addTodo()">
    <img src="https://image.flaticon.com/icons/png/128/54/54443.png" />
  </button>
</div>
<app-menu class="menu-view" *ngIf="(showMenuView)" [user]=user (toggleMenuView)=toggleMenuView($event)>
</app-menu>