h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  display: inline;
}

ul {
  list-style-type: none;
  padding: 0px;
}

.app-root {
  height: 1000px;
  width: 500px;
  padding: 50px 50px;
  background-color: rgb(50, 194, 194);
}

.avatar-main-view { 
  height: 40px;
  width: 40px;
  margin-left: 8em;
  background-color: white;
  border: 2px #369 solid;
  border-radius: 50%;
  box-shadow: 0px 2px #888888;
  display: inline;
  content:url(https://vignette.wikia.nocookie.net/spongebob/images/2/20/Patrick_925.gif/revision/latest?cb=20150411183115);
}
