<div class="header">
  <h1>Settings</h1>
<button class="menu-back" (click)="goBack()">
  <img src="https://cdn3.iconfinder.com/data/icons/virtual-notebook/16/button_close-128.png"/>
</button>
</div>
<div class="avatar-menu-view">
  <img src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_format_list_numbered_48px-128.png"/>
</div>
<div class="user-name">{{user.email}}</div>
<div class="menu-content">
  <button class="menu-item">
    <label class="menu-text">Preferences</label>
  </button>
  <button class="menu-item" id="log-out" (click)="logOut()">
    <label class="menu-text">Log Out</label>
  </button>
  <div class="version">
    version 0.1
  </div>
</div>